# Folders
__pycache__
venv/
test

# Files
app/media/posts/*
app/media/profile_pictures/*
!app/media/posts/.gitkeep
!app/media/profile_pictures/.gitkeep
.env/.local
.env/.production
local.env
Chitros.db